@model ImagesViewModel
@{
  ViewData["Title"] = "Images";
  var imagesPosted = 1;
  var chunk = 0;
  var remainingImages = @Model.TotalImages;
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <tbody>
        @while (imagesPosted < Model.TotalImages)
        {
            var high = (imagesPosted + 50) < Model.TotalImages ? imagesPosted + 49 : Model.TotalImages;
            <tr>
                <td class="text-nowrap">Images @imagesPosted - @high</td>
                <td class="text-nowrap"><a asp-action="DownloadImages" asp-route-websiteId="@Model.WebsiteId" asp-route-chunkIndex="@chunk" class="btn btn-primary">Download</a></td>
            </tr>
            imagesPosted = imagesPosted + 50;
            chunk++;
        }
    </tbody>
</table>
